---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: {{ hostvars[groups['masters'][0]]['kubeadm_token']['stdout'] }}
    apiServerEndpoint: "{{ master_nlb }}"
    caCertHashes: ["sha256:{{ hostvars[groups['masters'][0]]['kubeadm_hash']['stdout'] }}"]
nodeRegistration:
  name: {{ ansible_fqdn }}
  kubeletExtraArgs:
    cloud-provider: aws
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
  certificateKey: "{{ hostvars[groups['masters'][0]]['cert_key']['stdout'] }}"